version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: '123'
      MYSQL_DATABASE: 'kubernetes_crud_db'
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: siniestros_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: kubernetes-crud-api
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      # MySQL
      MYSQL_HOST: mysql
      MYSQL_DATABASE: kubernetes_crud_db
      MYSQL_USER: root
      MYSQL_PASSWORD: '123'
      # PostgreSQL
      POSTGRES_HOST: postgres
      POSTGRES_DATABASE: siniestros_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local
  postgres_data:
    driver: local
